# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Davoid Specific
logs/
payloads/
reports/
clones/
plugins/__pycache__/
core/__pycache__/
modules/__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db